@import "compass/css3";
@import "compass/typography";

*{
	@include box-sizing('border-box');
}
html,body,h1,h2,h4,h5,h6,ul,li,p{
	margin:0;
	padding:0;
}
html{
	line-height:1.4;
	color:#fff;
	background:#333;
}
html,body{
	height:100%;
}
a{
	color:#fff;
	text-decoration:underline;
}
a:hover{
	color:#333;
	background:#fff;
}
.mod-all{
	height:100%;
	font-size:.78em;
}
