@import "compass/css3";
@import "compass/typography";

*{
	@include box-sizing('border-box');
}
html,body,h1,h2,h4,h5,h6,ul,li,p{
	margin:0;
	padding:0;
}
html{
	line-height:1.4;
	color:#fff;
	background:#333;
}
html,body{
	height:100%;
}
a{
	@include link-colors(white, white, white, white, white);
	text-decoration:underline;
}
.mod-all{
	height:100%;
	font-size:.78em;
}
.mod-header{
	border-bottom:1px solid #fff;
	*zoom:1; /* ie */
	position:fixed;
	left:0;
	right:0;
	top:0;
	height:30px;
	width:100%;
	display:table;
	background:#333;
	z-index:1000;
	.mod-header-inner{
		display:table-cell;
		vertical-align:middle;
		text-align:left;
		padding:0 10px;
		h1{
			font-size:15px;
			line-height:29px;
			float:left;
			white-space:nowrap;
		}
		.mod-header-util{
			position:absolute;
			right:10px;
			top:4px;
			.mod-header-auto{
				position:relative;
				float:left;
				white-space:nowrap;
				padding:0;
				font-size:14px;
				line-height:18px;
				border:1px solid #fff;
				background:#fff;
				color:#333;
				width:4em;
				text-align:center;
				margin:0 4px 0 0;
				&.state-input{
					color:#fff;
					background:#000;
				}
			}
			.mod-header-reload{
				float:left;
				white-space:nowrap;
				font-size:14px;
				line-height:20px;
				cursor:pointer;
				background:#888;
				color:#fff;
				padding:0 10px;
				@include border-radius(4px);
				&:hover{
					background:#999;
				}
			}
		}
	}
}
.mod-listcontainer{
	height:100%;
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
	.mod-listcontainer-inner{
		height:100%;
		.mod-listcontainer-items{
			height:100%;
			float:left;
		}
	}
}
.mod-newlist{
	height:100%;
	position:relative;
	float:left;
	.mod-newlist-btn{
		background:#fff;
		color:#333;
		font-size:30px;
		line-height:50px;
		text-align:center;
		width:50px;
		cursor:pointer;
	}
	.mod-newlist-content-closed{
		margin:30px 0 0;
		overflow:hidden;
		.mod-newlist-btn{
			margin:2px;
		}
	}
	.mod-newlist-content-opened{
		padding:110px 20px 0;
		border-right:1px solid #fff;
		height:100%;
		position:relative;
		h2{
			font-size:1.5em;
			padding:0 0 8px;
		}
		input[type=search]{
			margin:0 8px 0 0;
			width:180px;
		}
		.mod-newlist-btn{
			position:absolute;
			left:2px;
			top:32px;
		}
	}
}
.mod-newlist.state-close{
	.mod-newlist-content-closed{
		display:block;
	}
	.mod-newlist-content-opened{
		display:none;
	}
}
.mod-newlist.state-open{
	width:300px;
	.mod-newlist-content-closed{
		display:none;
	}
	.mod-newlist-content-opened{
		display:block;
	}
}
.mod-tweetlist{
	width:300px;
	height:100%;
	position:relative;
	float:left;
	vertical-align:top;
	border-right:1px solid #fff;
	padding:60px 0 0;
	.mod-tweetlist-hd{
		position:absolute;
		left:0;
		top:30px;
		right:0;
		.mod-tweetlist-h{
			height:30px;
			line-height:30px;
			font-size:15px;
			border-bottom:1px solid #fff;
			position:relative;
			.mod-tweetlist-label{
				display:block;
				line-height:29px;
				padding:0 10px;
				font-weight:bold;
				&:hover{
					background:#666;
				}
			}
			.mod-tweetlist-remove{
				cursor:pointer;
				position:absolute;
				right:2px;
				top:2px;
				bottom:2px;
				width:26px;
				line-height:22px;
				padding:0 0 4px;
				text-align:center;
				background:#fff;
				color:#333;
				text-decoration:none;
			}
		}
		.mod-tweetlist-util{
			height:30px;
			position:relative;
			.mod-tweetlist-util-reload{
				position:absolute;
				right:4px;
				top:4px;
				left:4px;
				bottom:4px;
				background:#888;
				color:#fff;
				font-size:12px;
				line-height:22px;
				text-align:center;
				@include border-radius(2px);
				cursor:pointer;
				&:hover{
					background:#999;
				}
			}
		}
	}
	.mod-tweetlist-bd{
		overflow-y:scroll;
		position:absolute;
		top:90px;
		left:0;
		width:299px;
		bottom:0;
		padding:0 0 20px;
		&::-webkit-scrollbar{
			width:8px;
			background:#333;
		}
		&::-webkit-scrollbar-thumb{
			background:#888;
		}
	}
}

.mod-tweetitem{
	padding:10px;
	border-bottom:1px dashed #666;
	position:relative;
	&:hover{
		background:#484848;
	}
	.mod-tweetitem-prof{
		float:left;
		@include border-radius(2px);
		border:1px solid #aaa;
		background:#fff;
		img{
			float:left;
		}
	}
	.mod-tweetitem-woprof{
		overflow:hidden;
		padding:0 0 0 10px;
		*zoom:1; /* ie */
		.mod-tweetitem-info{
			font-size:.8em;
			padding:8px 0 0;
			.mod-tweetitem-name{
				font-size:1.3em;
			}
			.mod-tweetitem-time{
			}
		}
	}
}
