/* line 4, ../scss/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/base.scss */
html, body, h1, h2, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/base.scss */
html {
  line-height: 1.4;
  color: #fff;
  background: #333;
}

/* line 16, ../scss/base.scss */
html, body {
  height: 100%;
}

/* line 19, ../scss/base.scss */
a {
  color: white;
  text-decoration: underline;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: white;
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: white;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: white;
}
/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: white;
}

/* line 23, ../scss/base.scss */
.mod-all {
  height: 100%;
  font-size: .78em;
}

/* line 27, ../scss/base.scss */
.mod-header {
  border-bottom: 1px solid #fff;
  *zoom: 1;
  /* ie */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  width: 100%;
  display: table;
  background: #333;
  z-index: 1000;
}
/* line 39, ../scss/base.scss */
.mod-header .mod-header-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 10px;
}
/* line 44, ../scss/base.scss */
.mod-header .mod-header-inner h1 {
  font-size: 15px;
  float: left;
  white-space: nowrap;
}
/* line 49, ../scss/base.scss */
.mod-header .mod-header-inner .mod-header-util {
  float: right;
}

/* line 56, ../scss/base.scss */
input {
  vertical-align: middle;
}

/* line 59, ../scss/base.scss */
input[type=search] {
  height: 13px;
  width: 100px;
}

/* line 63, ../scss/base.scss */
.mod-listcontainer {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* line 68, ../scss/base.scss */
.mod-listcontainer .mod-listcontainer-items {
  height: 100%;
}

/* line 72, ../scss/base.scss */
.mod-tweetlist {
  width: 300px;
  height: 100%;
  position: relative;
  float: left;
  vertical-align: top;
  border-right: 1px solid #fff;
  padding: 30px 0 0;
}
/* line 80, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-hd {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  position: relative;
}
/* line 90, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-label {
  display: block;
  line-height: 29px;
  padding: 0 10px;
}
/* line 94, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-label:hover {
  background: #666;
}
/* line 98, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-remove {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 20px;
  line-height: 16px;
  padding: 0 0 4px;
  text-align: center;
  background: #fff;
  color: #333;
  text-decoration: none;
}
/* line 113, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-bd {
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  left: 0;
  width: 299px;
  bottom: 0;
  padding: 0 0 20px;
}
/* line 121, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-bd::-webkit-scrollbar {
  width: 8px;
  background: #333;
}
/* line 125, ../scss/base.scss */
.mod-tweetlist .mod-tweetlist-bd::-webkit-scrollbar-thumb {
  background: #888;
}

/* line 131, ../scss/base.scss */
.mod-tweetitem {
  padding: 10px;
  border-bottom: 1px dashed #666;
  position: relative;
}
/* line 135, ../scss/base.scss */
.mod-tweetitem:hover {
  background: #484848;
}
/* line 138, ../scss/base.scss */
.mod-tweetitem .mod-tweetitem-prof {
  float: left;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #aaa;
  background: #fff;
}
/* line 143, ../scss/base.scss */
.mod-tweetitem .mod-tweetitem-prof img {
  float: left;
}
/* line 147, ../scss/base.scss */
.mod-tweetitem .mod-tweetitem-woprof {
  overflow: hidden;
  padding: 0 0 0 10px;
  *zoom: 1;
  /* ie */
}
/* line 151, ../scss/base.scss */
.mod-tweetitem .mod-tweetitem-woprof .mod-tweetitem-info {
  font-size: .8em;
  padding: 8px 0 0;
}
/* line 154, ../scss/base.scss */
.mod-tweetitem .mod-tweetitem-woprof .mod-tweetitem-info .mod-tweetitem-name {
  font-size: 1.3em;
}
