/* line 4, ../scss/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/base.scss */
html, body, h1, h2, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/base.scss */
html {
  line-height: 1.4;
  color: #fff;
  background: #333;
}

/* line 16, ../scss/base.scss */
html, body {
  height: 100%;
}

/* line 20, ../scss/base.scss */
a,
a:visited {
  color: #fff;
  text-decoration: underline;
}

/* line 24, ../scss/base.scss */
a:hover {
  color: #333;
  background: #fff;
}

/* line 28, ../scss/base.scss */
.mod-all {
  height: 100%;
  font-size: .78em;
}
