/* line 4, ../scss/modules.scss */
.mod-header {
  border-bottom: 1px solid #fff;
  *zoom: 1;
  /* ie */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  width: 100%;
  display: table;
  background: #333;
  z-index: 1000;
}
/* line 16, ../scss/modules.scss */
.mod-header .mod-header-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 10px;
}
/* line 21, ../scss/modules.scss */
.mod-header .mod-header-inner h1 {
  font-size: 15px;
  line-height: 29px;
  float: left;
  white-space: nowrap;
}
/* line 27, ../scss/modules.scss */
.mod-header .mod-header-inner p {
  font-size: 12px;
  line-height: 29px;
  float: left;
  white-space: nowrap;
  padding: 0 0 0 8px;
}
/* line 34, ../scss/modules.scss */
.mod-header .mod-header-inner .mod-header-util {
  position: absolute;
  right: 10px;
  top: 4px;
}
/* line 38, ../scss/modules.scss */
.mod-header .mod-header-inner .mod-header-util .mod-header-auto {
  position: relative;
  float: left;
  white-space: nowrap;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #fff;
  background: #fff;
  color: #333;
  width: 4em;
  text-align: center;
  margin: 0 4px 0 0;
}
/* line 51, ../scss/modules.scss */
.mod-header .mod-header-inner .mod-header-util .mod-header-auto.state-input {
  color: #fff;
  background: #000;
}
/* line 56, ../scss/modules.scss */
.mod-header .mod-header-inner .mod-header-util .mod-header-reload {
  float: left;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  background: #888;
  color: #fff;
  padding: 0 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 66, ../scss/modules.scss */
.mod-header .mod-header-inner .mod-header-util .mod-header-reload:hover {
  background: #999;
}

/* line 73, ../scss/modules.scss */
.mod-listcontainer {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* line 78, ../scss/modules.scss */
.mod-listcontainer .mod-listcontainer-inner {
  height: 100%;
}
/* line 80, ../scss/modules.scss */
.mod-listcontainer .mod-listcontainer-inner .mod-listcontainer-items {
  height: 100%;
  float: left;
}

/* line 86, ../scss/modules.scss */
.mod-newlist {
  height: 100%;
  position: relative;
  float: left;
}
/* line 90, ../scss/modules.scss */
.mod-newlist .mod-newlist-btn {
  background: #fff;
  color: #333;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  cursor: pointer;
}
/* line 99, ../scss/modules.scss */
.mod-newlist .mod-newlist-content-closed {
  margin: 30px 0 0;
  overflow: hidden;
}
/* line 102, ../scss/modules.scss */
.mod-newlist .mod-newlist-content-closed .mod-newlist-btn {
  margin: 2px;
}
/* line 106, ../scss/modules.scss */
.mod-newlist .mod-newlist-content-opened {
  padding: 110px 20px 0;
  border-right: 1px solid #fff;
  height: 100%;
  position: relative;
}
/* line 111, ../scss/modules.scss */
.mod-newlist .mod-newlist-content-opened h2 {
  font-size: 1.5em;
  padding: 0 0 8px;
}
/* line 115, ../scss/modules.scss */
.mod-newlist .mod-newlist-content-opened input[type=search] {
  margin: 0 8px 0 0;
  width: 180px;
}
/* line 119, ../scss/modules.scss */
.mod-newlist .mod-newlist-content-opened .mod-newlist-btn {
  position: absolute;
  left: 2px;
  top: 32px;
}
/* line 126, ../scss/modules.scss */
.mod-newlist.state-close .mod-newlist-content-closed {
  display: block;
}
/* line 129, ../scss/modules.scss */
.mod-newlist.state-close .mod-newlist-content-opened {
  display: none;
}
/* line 133, ../scss/modules.scss */
.mod-newlist.state-open {
  width: 300px;
}
/* line 135, ../scss/modules.scss */
.mod-newlist.state-open .mod-newlist-content-closed {
  display: none;
}
/* line 138, ../scss/modules.scss */
.mod-newlist.state-open .mod-newlist-content-opened {
  display: block;
}

/* line 143, ../scss/modules.scss */
.mod-tweetlist {
  width: 300px;
  height: 100%;
  position: relative;
  float: left;
  vertical-align: top;
  border-right: 1px solid #fff;
  padding: 60px 0 0;
}
/* line 151, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd {
  position: absolute;
  left: 0;
  top: 30px;
  right: 0;
}
/* line 156, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-h {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  position: relative;
}
/* line 162, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-h .mod-tweetlist-label {
  display: block;
  line-height: 29px;
  padding: 0 10px;
  font-weight: bold;
}
/* line 167, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-h .mod-tweetlist-label:hover {
  color: #fff;
  background: #666;
}
/* line 172, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-h .mod-tweetlist-remove {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 26px;
  line-height: 22px;
  padding: 0 0 4px;
  text-align: center;
  background: #fff;
  color: #333;
  text-decoration: none;
}
/* line 187, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-util {
  height: 30px;
  position: relative;
}
/* line 190, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-util .mod-tweetlist-util-reload {
  position: absolute;
  right: 4px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background: #888;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
/* line 203, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-hd .mod-tweetlist-util .mod-tweetlist-util-reload:hover {
  background: #999;
}
/* line 209, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-bd {
  overflow-y: scroll;
  position: absolute;
  top: 90px;
  left: 0;
  width: 299px;
  bottom: 0;
  padding: 0 0 20px;
}
/* line 217, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-bd::-webkit-scrollbar {
  width: 8px;
  background: #333;
}
/* line 221, ../scss/modules.scss */
.mod-tweetlist .mod-tweetlist-bd::-webkit-scrollbar-thumb {
  background: #888;
}

/* line 227, ../scss/modules.scss */
.mod-tweetitem {
  padding: 10px;
  border-bottom: 1px dashed #666;
  position: relative;
}
/* line 231, ../scss/modules.scss */
.mod-tweetitem:hover {
  background: #484848;
}
/* line 234, ../scss/modules.scss */
.mod-tweetitem .mod-tweetitem-prof {
  float: left;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #aaa;
  background: #fff;
}
/* line 239, ../scss/modules.scss */
.mod-tweetitem .mod-tweetitem-prof img {
  float: left;
}
/* line 243, ../scss/modules.scss */
.mod-tweetitem .mod-tweetitem-woprof {
  overflow: hidden;
  padding: 0 0 0 10px;
  *zoom: 1;
  /* ie */
}
/* line 247, ../scss/modules.scss */
.mod-tweetitem .mod-tweetitem-woprof .mod-tweetitem-info {
  font-size: .8em;
  padding: 8px 0 0;
}
/* line 250, ../scss/modules.scss */
.mod-tweetitem .mod-tweetitem-woprof .mod-tweetitem-info .mod-tweetitem-name {
  font-size: 1.3em;
}

/* line 259, ../scss/modules.scss */
.mod-noresult {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  padding: 30px 0;
  line-height: 1.6;
}
